- provide :title, 'Status - QingDiet'

%h1 QingDiet API Status
%table
  - { 'Basic' => { 'Time' => Time.now },
      'Version' => { 'Name' => QingDiet::VERNAME,
        'Number' => QingDiet::VERSION,
        'Updated At' => QingDiet::VERTIME } }.each do |title, hash|
    %tr
      %td(colspan=2)= title
    - hash.each do |key, value|
      %tr
        %td= key
        %td= value
